/* Variables */
:root {
  /* --bg-color: #b6e6ff;
  --inbox-primary: #edf2f4;
  --inbox-secondary: #48cab9; */
  --bg-color: #fff;
  --inbox-primary: #b6e6ff;
  --inbox-secondary: #fd47caca;
  --inbox-width: 100%;
  --inbox-height: 100%;
  --inbox-radius: 4px;
}
.hidden-file-input {
  display: none;
}

/* Universal Selector */

/* Default Styles */
/* html,
  body {
    background: linear-gradient(180deg, var(--bg-color), #9eb1e9);
    overflow-x: hidden;
  } */

/* Inbox Styles */
.container_chat {
  background: linear-gradient(180deg, var(--bg-color), var(--inbox-secondary));
  /* overflow-x: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex: 1;
}
.chat_inbox {
  background: var(--bg-color);
  width: var(--inbox-width);
  height: var(--inbox-height);
  display: flex;
  border-radius: var(--inbox-radius);
  position: relative;
}

.aside_chat {
  background: #ffb6c1;
  flex-basis: 0;
  flex-grow: 1;
  height: 100%;
  border-top-left-radius: var(--inbox-radius);
  border-bottom-left-radius: var(--inbox-radius);
}

.aside_chat .avatar {
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 100%;
}
#chat-list {
  margin: 0;
  padding-left: 0 !important;
  height: 100%;
  overflow-y: scroll;
}
#chat-list {
  list-style-type: none;
  padding: 0;
}

.chat-item {
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.chat-item.selected {
  color: var(--inbox-secondary);
  background: var(--bg-color);
  transform: scale(1.05);
}
/* Li Elements In Aside */
.aside_chat li {
  background: var(--inbox-secondary);
  list-style: none;
  color: #fff;
  display: flex;
  /* justify-content: space-between; */
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  height: 5rem;
  /* font-size: 1.5rem; */
  cursor: pointer;
  border-bottom: 1px solid #5ee7d3;
  border-top-left-radius: var(--inbox-radius);
}

.chat_inbox .aside_chat li:hover,
.chat_inbox .aside_chat li:active {
  color: var(--inbox-secondary);
  background: var(--bg-color);
}

/* Our Main Content Where Conversations Will Be Listed */
.main_chat {
  background: var(--bg-color);

  flex-basis: 0;
  flex-grow: 3;
  border-top-right-radius: var(--inbox-radius);
  border-bottom-right-radius: var(--inbox-radius);
}

.message-wrap {
  /* height: 88%; */
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-left: 5rem;
  padding-bottom: 10rem;
  overflow-y: scroll;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
}

.message {
  background: var(--inbox-secondary);
  max-width: 30%;
  /* margin: 1em 6em; */
  word-wrap: break-word; /* This is the key property for wrapping text */
  overflow-wrap: break-word;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(255, 0, 123, 0.1);
  border-radius: var(--inbox-radius);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  opacity: 1;
  transition: opacity ease-in-out 0.45s;
}
.avatar_date {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 0.3rem;
}
.chat_date {
  font-size: 1rem;
  color: var(--bg-color);
  font-weight: 600;
}

.chat_message {
  color: #fff;
  font-weight: 300;
  font-size: 1.3rem;
}
.chat_media {
  max-width: 100%;
  height: 100%;
  min-width: inherit; /* Set your minimum width */
  min-height: inherit; /* Set your minimum height */
  object-fit: contain;
  border-radius: 10px;
}
.pdf_viewer {
  width: 30%;
  max-width: 200px;
  margin: 0 auto;
}
.avatar_chat {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border-radius: 10px;
  /* transform: translateX(-120px) translateY(-30px); */
  /* float: left; */
}

.myMessage {
  background: #ffb6c1;
  /* margin: 1em 1em; */
  transform: translateX(150%);
}

/* Our Footer To Our Main Content, Contains The Submit Form */
.footer_chat {
  border-top: 2px solid #c5ced4;
  background: var(--bg-color);
}
#removeBg {
  background-color: transparent;
}
#chat-form #message-input {
  border: none;
  background: transparent;
  /* padding: 0.8em; */
  outline: none;
  font-size: 1rem;
  color: #aaa;
  width: 70%;
}
#chat-form #message-input[disabled] {
  background: #d3d3d3;
  opacity: 0.3;
}
#chat-form #message-input ::placeholder {
  font-size: 1.3rem;
}
#chat-form input[type="submit"] {
  color: #fff !important;
  width: 17% !important;
  background-color: var(--inbox-secondary) !important;
  font-size: 1.3rem !important;
  border-radius: 4px;
  padding: 1rem;
  margin: 0.3em;
  border: none;
  cursor: pointer;
  appearance: none;
}

#chat-form {
  width: 100%;
  /* background: var(--inbox-primary); */
  /* padding: 1.5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Initial Start Up Screen */
.init_chat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  text-align: center;
}

.init_chat i {
  font-size: 5em;
  color: var(--inbox-secondary);
}

.init_chat h4 {
  margin: 1em auto;
  color: var(--inbox-secondary);
}

/* Custom Animation Loading Screen */
.loader {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: 100%;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: -1;
  text-align: center;
}

.loader p {
  background: var(--inbox-secondary);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  animation: loading 2000ms cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

.loader p:before {
  content: "";
  background: var(--inbox-secondary);
  width: 40px;
  height: 40px;
  opacity: 1;
  display: block;
  transform: translateX(-10px) translateY(-10px);
  border-radius: 100%;
  animation: loading 2000ms cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
  animation-delay: 50ms;
}

.loader h4 {
  margin: 1em auto;
  color: var(--inbox-secondary);
}

/* Loading Animation */
@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
}
.pdf_holder {
  position: relative;
  padding: 1rem;
}
.preview_img {
  width: 150px;
  height: 150px;
}
.close-button {
  position: absolute;
  top: 40%;

  right: 91%;
  width: 30px;

  border: none;
  background: red;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  color: white;
  transition: color 0.3s;
}
.typing-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.typing {
  display: inline-block;
  font-size: 1.2em;
  border-right: 2px solid #000;
  white-space: nowrap;
  overflow: hidden;
  background: linear-gradient(270deg, #ff7e5f, #feb47b, #86a8e7, #91eac9);
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: typing 2s steps(20, end), blink-caret 0.75s step-end infinite,
    gradient 5s ease infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}
.loading-placeholder {
  /* background-color: #e0e0e0; */
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  width: 100%;

  animation: pulse 1.5s infinite;
}
#loading_message {
  min-width: 30%;
  min-height: 40%;
}
@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}
