.add-event-btn {
    position: absolute;
    right: 60px; /* Positionne le bouton à 60px du bord droit */
    bottom: 527px; /* Positionne le bouton à 20px du bord inférieur */
    /* Ajustez 'bottom' pour le positionner plus haut ou plus bas selon vos besoins */
  }
  .add-job-btn{
    position: absolute;
    right: 60px; /* Positionne le bouton à 60px du bord droit */
    bottom: 527px;
  }
  .add-job-btn button {
    background-color: hsl(240, 11%, 95%);
    border-color: rgb(15, 19, 223);
    color: rgb(15, 19, 223);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 50px;
    transition: background-color 0.3s ease;
  }
  
  .add-job-btn button:hover {
    background-color: hwb(310 45% 7%);
    border-color: #0056b3;
  }
  .job-card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .job-card {
    width: 30%; /* Ajustez la largeur des cartes */
    margin-bottom: 20px;
  }
  
  .job-details {
    margin-top: 15px;
  }
  .job-offers-controls {
    display: flex;
    justify-content: flex-end; /* Aligne les éléments vers la droite */
    padding-right: 20px; /* Ajoute un peu d'espace à droite si nécessaire */
    background-color: rgb(205, 202, 207);
  }

.btn-svg-right {
  margin-left: auto; /* Déplace le bouton tout à droite */
}
.search-input{
  width: 300px !important; /* Force la réduction de la largeur de l'input */
  margin-right: 10px; /* Espace entre l'input et le bouton */
  max-width: none; /* Empêche que la largeur max soit imposée */
}
.add-job-offer-btn{
 
}