
@media (max-width: 700px) {
  .container {
    padding: 0 20px;
  }
}
.biography {
  display: flex;
  gap: 50px;
}
.biography .banner:first-child {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.biography .banner:last-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.biography .banner h3 {
  font-weight: 700;
  letter-spacing: 3px;
}
.biography .banner p:first-child {
  font-size: 24px;
  letter-spacing: 2px;
}
@media (max-width: 925px) {
  .biography {
    flex-direction: column-reverse;
  }
}