/* Sidebar container */
.dashboard_container {
  /* position: relative; */
  display: flex;
}
.container_chat {
  background: linear-gradient(180deg, var(--bg-color), var(--inbox-secondary));
  /* overflow-x: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex: 1;
}
.SideBar {
  background-color: white; /* Pink background */
  color: #ff007b; /* White text */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  transition: all 0.7s;
  overflow: hidden;
  z-index: 1;
  width: 250px; /* Full width when expanded */
}

.SideBar.collapsed {
  width: 60px; /* Collapsed width */
}

.links {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 100%;
}

.link-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 40px;
  width: 100%;
  cursor: pointer;
  color: #ff007b;
}

.link-item span {
  margin-left: 10px;
  font-size: 15px;
  color: #ff007b;
  font-weight: bold;
}

.link-item:hover,
.link-item span:hover {
  background-color: #ff007b; /* Lighter pink on hover */
  color: white;
}

/* Wrapper for hamburger icon */
.wrapper {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1001;
}

/* .hamburger {
  cursor: pointer;
  font-size: 24px;
  color: white;
} */

.collapse-icon {
  width: 40px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  font-size: 24px;
  color: #ff007b;
}

.collapse-icon:hover {
  color: #ccc; /* Light grey on hover */
}
