.descrption {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  flex-wrap: wrap;
  padding: 20px; /* Ajout de padding pour l'espacement */
}

.image-home {
  width: 50%;
  height: auto; /* Ajustement de la hauteur automatique pour maintenir les proportions */
  max-width: 100%; /* Garantit que l'image ne dépasse pas la largeur de son conteneur */
}

.pink-text {
  color: rgb(255, 0, 123);
}

/* Media queries pour le responsive design */
@media (max-width: 768px) {
  .descrption {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; /* Ajustement du padding pour les écrans plus petits */
  }

  .image-home {
    width: 80%; /* Ajustement de la largeur de l'image pour les écrans plus petits */
    max-width: 100%;
    height: auto;
    margin-top: 20px; /* Espacement supplémentaire entre l'image et le texte */
  }

  .pink-text {
    font-size: 1.5rem; /* Ajustement de la taille du texte rose pour les écrans plus petits */
  }
}
