/* Global styles */
body {
    font-family: Arial, sans-serif;
  }
  
  .contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .contact-form {
    background: #fff;
    border: 2px solid rgb(255, 0, 123); /* Bordure rose */
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 10px #ffffff;
    margin-bottom: 20px;
  }
  
  .contact-form h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form textarea {
    resize: none;
  }
  
  .contact-form button {
    background-color: rgb(255, 0, 123);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    
  }
  
  .contact-form button:hover {
    background-color: #ff85c0;
  }
  
  .contact-image {
    width: 80%; /* Ajustement de la largeur de l'image pour les écrans plus petits */
    max-width: 35%;
    height: auto;
    margin-top: 20px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .contact-container {
      flex-direction: column;
      align-items: center;
    }
  
    .contact-image {
      width: 80%;
      margin: 20px 0;
    }
  }
  